<div id="mount"></div>

<script type="text/babel">
	var Router = window.ReactRouter.Router;
	var Route = window.ReactRouter.Route;
	var Link = window.ReactRouter.Link;
	var browserHistory = window.ReactRouter.browserHistory;

	const Stocks = React.createClass({
		getInitialState () {
			return { stockItems: [] };
		},

		componentDidMount () {
	    this.getStocks = $.get('/stocks/index', function (result) {
			this.setState({
				stockItems: result
			});
	    }.bind(this));
	  },

	  componentWillUnmount () {
	    this.getStocks.abort();
	  },

	  handleStockSubmit (stock) {
	  	var self = this;
	  	$.ajax({
			  type: "POST",
			  url: '/stocks/create',
			  data: stock,
			  success: function(result) {
			  	self.setState({
			  		stockItems: self.state.stockItems.concat(result)
			  	})
			  }
			});
	  },

		render() {
			let stockItems = this.state.stockItems.map(stockItem => <StockItem key={stockItem.id} {...stockItem}/>);
			return (
			  <div className="container">
          <div className="row">
            <h1>Stocks</h1>
          </div>
          <div className="row">
            <div className="list-group">
              {stockItems}
            </div>
          </div>

          <div className="container">
        	  <div className="row">
              <h2>New Stock</h2>
            </div>
            <div className="row">
              <NewStock onStockSubmit={this.handleStockSubmit}/>
            </div>
        	</div>
      	</div>
			);
		}
	})

	const StockItem = React.createClass({
    render () {
      return <a href="#" className="list-group-item"><b>Name</b>: {this.props.name} | <b>Price</b>: {this.props.price} | <b>Quantity</b>: {this.props.quantity}</a>;
    }
	})

	const NewStock = React.createClass({
    getInitialState () {
    	return {name: '', price:'', quantity:''};
  	},

  	handleSubmit (e) {
  		e.preventDefault();

  		//Browser Side Validation?

  		this.props.onStockSubmit({
					name: this.state.name,
					price: this.state.price,
					quantity: this.state.quantity
			});

			this.setState({name: '', price:'', quantity:''});
  	},

	  handleChange (name, e) {
	    var change = {};
	    change[name] = e.target.value;
	    this.setState(change);
  	},

    render () {
      return (
        <div>
          <form onSubmit={this.handleSubmit}>
	          <label >Product Name</label><br />
	          <input className="form-control" value= {this.state.name} onChange={this.handleChange.bind(this, 'name')} />
	          <label >Price</label><br />
	          <input className="form-control" value= {this.state.price} onChange={this.handleChange.bind(this, 'price')} />
	          <label >Quantity</label><br />
	          <input className="form-control" value= {this.state.quantity} onChange={this.handleChange.bind(this, 'quantity')} />
	          <button>Add New Stock</button>
        	</form>
        </div>
      );
    }
  })

const Products = React.createClass({
		getInitialState () {
			return { stockItems: [], lineItems: [] };
		},

		componentDidMount () {
			//because products is also hitting /stocks/index, this could be arranged to not have to make this call since stockItems componenet also calls this...
	    this.getStocks = $.get('/stocks/index', function (result) {
			this.setState({
				stockItems: result
			});
	    }.bind(this));
	  },

	  componentWillUnmount () {
	    this.getStocks.abort();
	  },

	  addToCart (lineItem) {
	  	console.log(lineItem);
	  	this.setState({
	  		lineItems: this.state.lineItems.concat(lineItem)
	  	});
	  },

		render() {
			let products = this.state.stockItems.map(stockItem => <Product sendToCart={this.addToCart} key={stockItem.id} {...stockItem}/>);
			return (
			  <div className="container">
          <div className="row">
            <h1>Products</h1>
          </div>
          <div className="row">
            <div className="list-group">
              {products}
            </div>
          </div>

          <Cart lineItems={this.state.lineItems}/>

      	</div>
			);
		}
	})

	const Product = React.createClass({
		sendToCart(e) {
			console.log("Product = React.createClass");
			e.preventDefault();
			this.props.sendToCart(this.props.id);
		},

    render () {
      return <a className="list-group-item"><b>Name</b>: {this.props.name} | <b>Price</b>: {this.props.price} <button onClick={this.sendToCart}>Add To Cart</button> </a>;
    }
	})

	const Cart = React.createClass({
		render () {
      let lineItems = this.props.lineItems.map(lineItem => <LineItem key={lineItem.id} {...lineItem} />);
      return (
        <div className="container">
          <div className="row">
            <div className="col-md-9">
              <h1>Your Shopping Cart</h1>
              <ul className="list-group">
                {lineItems}
              </ul>
            </div>
          </div>
        </div>  
      );
    }
	})

  const LineItem = React.createClass({
    render () {
      return (
        <div>  
          <li className="list-group-item">
            <span className="badge">{this.props.quantity}</span>
            {this.props.name}
          </li>
        </div>
      );
    }
  })

	const App = React.createClass({
	  render() {
	    return (
	      <div>
	        <h1>Shop or Stock?</h1>

	        <ul>
	          <li><Link to="/shop">Shop</Link></li>
	          <li><Link to="/stocks">Stocks</Link></li>
	        </ul>

	        {this.props.children}
	      </div>
	    )
	  }
	})

	ReactDOM.render((
	  <div>
		  <Router history={browserHistory}>
		    <Route path="/" component={App}>
		      <Route path="shop" component={Products} />
		      <Route path="stocks" component={Stocks} />
		    </Route>
		  </Router>
	  </div>
	), document.getElementById('mount'))
</script>