<div id="mount"></div>

<script type="text/babel">
	var Router = window.ReactRouter.Router;
	var Route = window.ReactRouter.Route;
	var Link = window.ReactRouter.Link;
	var browserHistory = window.ReactRouter.browserHistory;

	const HelloWorld = React.createClass({

		render() {
			return <div> Hello World </div>;
		}
	})

	const Stocks = React.createClass({
		getInitialState () {
			return { stockItems: [] };
		},

		componentDidMount () {
		    this.serverRequest = $.get('/stocks/index', function (result) {
				this.setState({
					stockItems: result
				});
		    }.bind(this));
		  },

		  componentWillUnmount () {
		    this.serverRequest.abort();
		  },

		render() {
			let stockItems = this.state.stockItems.map(stockItem => <StockItem key={stockItem.id} {...stockItem}/>);
			return (
			  <div className="container">
                <div className="row">
                  <h1>Stocks</h1>
                </div>
                <div className="row">
                  <div className="list-group">
                    {stockItems}
                  </div>
                </div>
              </div>
			);
		}
	})

	const StockItem = React.createClass({
        render () {
          return <a href="#" className="list-group-item"><b>Name</b>: {this.props.name} | <b>Price</b>: {this.props.price} | <b>Quantity</b>: {this.props.quantity}</a>;
        }
  	})

	const App = React.createClass({
	  render() {
	    return (
	      <div>
	        <h1>Shop or Stock?</h1>

	        <ul>
	          <li><Link to="/shop">Shop</Link></li>
	          <li><Link to="/stocks">Stocks</Link></li>
	        </ul>

	        {this.props.children}
	      </div>
	    )
	  }
	})

	ReactDOM.render((
	  <div>
		  <Router history={browserHistory}>
		    <Route path="/" component={App}>
		      <Route path="shop" component={HelloWorld} />
		      <Route path="stocks" component={Stocks} />
		    </Route>
		  </Router>
	  </div>
	), document.getElementById('mount'))
</script>